html {
    height: auto; /* To fix gradient on long pages */
    min-height: 100%; /* To fix gradient on short pages */
}

.homeHero {
    border-radius: 10px;
    margin: 1rem 0;
    overflow: hidden;
}
.aboveNav {
}
.phone {
    float: right;
    font-weight: bold;
    margin-top: 15px;
    overflow: hidden;
    padding: .75rem 1.25rem .7625rem 3.75rem;
}
.phone:before {
    content: "\1f4de";
    background-color: #525252;
    color: white;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: .75rem;
    width: 2.5rem;
}
.logo {
    bottom: 10px;
    height: 100px;
    position: absolute;
    z-index: 99;
}

/* Colours */
.greyBG,
.top-bar,
.top-bar-section .has-form {
    background-color: #525252;
}
.lightGreyBG {
    background-color: #cccccc;
}
.yellowBG {
    background-color: #f7b901;
}

.silverGradient {
    background: rgba(204,204,204,1);
    background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,204,204,1)), color-stop(100%, rgba(246,246,246,1)));
    background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 100%);
    background: -o-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 100%);
    background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 100%);
    background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(246,246,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f6f6f6', GradientType=0 );
}

.greyGradient {
    background: rgba(42,42,42,1);
    background: -moz-linear-gradient(top, rgba(42,42,42,1) 0%, rgba(82,82,82,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,42,42,1)), color-stop(100%, rgba(82,82,82,1)));
    background: -webkit-linear-gradient(top, rgba(42,42,42,1) 0%, rgba(82,82,82,1) 100%);
    background: -o-linear-gradient(top, rgba(42,42,42,1) 0%, rgba(82,82,82,1) 100%);
    background: -ms-linear-gradient(top, rgba(42,42,42,1) 0%, rgba(82,82,82,1) 100%);
    background: linear-gradient(to bottom, rgba(42,42,42,1) 0%, rgba(82,82,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#525252', GradientType=0 );
}

.yellow,
li.yellow {
    color: #f7b901;
}
.lightGrey {
    color: #aaaaaa
}
.black {
    color: #222222;
}


.infoBox {
    border-radius: 10px;
    overflow: hidden;
}
.infoBox__header {
    padding: 1rem;
    margin: 0;
    font-size: 1.5rem;
}
.infoBox__content {
    margin: 0;
}

.infoList {
}
.infoList__item {
    display: inline;
    background-color: #f7b901;
    padding: .25rem .5rem .25rem 0;
    border-radius: 5px;
}
.infoList__item:before {
    content: "\226B";
    color: #f6f6f6;
    background-color: #525252;
    padding: .25rem .5rem .25rem .5rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: .5rem;
}
.infoList__text {
    color: #525252;
    margin-top: .3rem;
}

.basicList {
    list-style: url(/images/ui/arrow.png);
}
.basicList__item {
    
}