---
layout: compress
---

<!DOCTYPE html>
<html dir="ltr" lang="{{ site.trupro.lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.trupro.name }}{% if page.title %} | {{ page.title}}{% endif %}</title>
        {% include robots.html %}
        {% include meta-description.html %}

        <link rel="stylesheet" href="/stylesheets/foundation.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">

    </head>
    <body class="">

        <div class="grid-container">
            <div class="grid-x grid-margin-x grid-padding-y grid-margin-y">
                <div class="cell small-7">
                    <h1 class="companyName"><a href="/" class="logoLink"><img src="/images/ui/logo.png" class="logo" alt="{{ site.trupro.name }}"> {{ site.trupro.name }}</a></h1>
                </div>
                <div class="cell small-2">
                    <div class=""><strong>CALL US</strong></div>
                    <div><a href="tel:{{ site.trupro.phone-short }}">{{ site.trupro.phone }}</a></div>
                </div>
                <div class="cell small-3">
                    <div class=""><strong>EMAIL US</strong></div>
                    <div><a href="mailto:{{ site.trupro.email }}?subject=Service%20Request&body=Hi%20Mike%20and%20MIchelle%2C%20%20I%20would%20like%20to%20talk%20to%20you%20about%20servicing%20my%20vehicle.">{{ site.trupro.email }}</a></div>
                </div>
            </div>
        </div>

        {{ content }}

        <footer class="greyBG lightText">
            <div class="grid-container">
                <div class="grid-x grid-margin-x grid-margin-y masthead">
                    <div class="cell">
                        <p>&copy; {{ 'now' | date: "%Y" }} {{ site.trupro.name-legal }}.</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/js/vendor/jquery.js"></script>
        <script src="/js/vendor/fastclick.js"></script>
        <script src="/js/vendor/foundation.min.js"></script>
        <script>$(document).foundation();</script>
    </body>
</html>
